root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_using_directive_placement = outside_namespace:suggestion
dotnet_sort_system_directives_first = true

[*.{axaml,xaml}]
indent_size = 4

[*.{csproj,props,targets,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
